g.AudioDestinationNode > rect {
  fill: #90A4AE;
}

g.GainNode > rect,
g.BiquadFilterNode > rect,
g.AudioBufferSourceNode > rect,
g.OscillatorNode > rect
{
  fill: #4DB6AC;
}

text {
  color: #37474F;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 13px;
}

text > span.uid {
  color: #E0F2F1;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
}

.node rect {
  stroke: #4DB6AC;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #37474F;
  stroke-width: 1.5px;
}